<div id='header'>
	<h1>NYC Real-Time Traffic Cam Map</h1>
</div>

<div id='container'>
	<div id='content'>
		<div class='column' id='right'>
			<h2>Top Links (Highest Average Speed)</h2>
			<ul id='topspeedlist'>
			<% @top_speeds.each do |s| %>
				<li class='topspeeditem' 
					data-lat=<%= s.link.link_points.first.latitude%> 
					data-lng=<%= s.link.link_points.first.longitude %> 
				>
					<a href='#'><%= "#{s.link.link_name}" %><br />
					<%= "#{s.speed} mph" %></a>
				</li>
			<% end %>
			</ul>
		</div>

		<div id='center'>

		<%= gmaps( {
				"polylines" => { "data" => @data }
		}) %>

		</div>


	</div>
</div>


<div id='footer'>
	<p>Map created by Yee-Ning Cheng</p>
	<p>Data provided by: NYCDOT</p>
</div>

<script type='text/javascript'>

$(document).ready(function() {
	
	$("li.topspeeditem a").click(function() {
		var myLatlng = new google.maps.LatLng($(this).data('lat'), $(this).data('lng'));
  		var mapOptions = {
		    zoom: 10,
		    center: myLatlng,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
  		}
  	var map = new google.maps.Map(document.getElementById("map"), mapOptions);

	var marker = new google.maps.Marker({
	    position: myLatlng,
	    map: map,
	    title:"Hello World!"
	 });

	})
})
</script>