<div id='header'>
	<h1>NYC Real-Time Traffic Cam Map</h1>
</div>

<div id='container'>
	<%= form_tag( { :method => 'create'  } , { :class => 'form-wrapper cf' } )  do %>
		<%= text_field_tag "search" %>
		<%= button_tag "Search"  %>
	<%- end %>
	<div id='content'>
		<div class='column' id='right'>
			<h2>Top Links (Highest Average Speed)</h2>
			<ul id='topspeedlist'>
			<% @top_speeds.each do |s| %>
				<%= render :partial => "topspeed", :locals => { :s => s } %>
			<% end %>
			</ul>
		</div>

		<div id='center'>

		<%= gmaps( {
				"polylines" => { "data" => @data }
		}) %>

		</div>


	</div>
</div>

<div id='footer'>
	<p>Map created by Yee-Ning Cheng</p>
	<p>Data provided by: NYCDOT</p>
</div>

<script type='text/javascript'>

$(document).ready(function() {
	

	$("#right").delegate(".topspeeditem", "click", function() {
		var myLatlng = new google.maps.LatLng($(this).data('lat'), $(this).data('lng'));
  		var mapOptions = {
		    zoom: 10,
		    center: myLatlng,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
  		};
  		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title: $(this).children("a").text()
		 });

	})

	function update() {
		$.ajax({
			url: "/", 
			type: 'GET',
			success: function(data) {
				var toptenspeeds = $(data).find('#topspeedlist');
				$('#topspeedlist').html(toptenspeeds.children());
				setTimeout(function() {
					update();
				}, 30000);
			},
			dataType: 'html'
		});
	}

	setTimeout(function() {
		update();
	}, 30000);
})

$(function fuseSearch() {
	var links = [];
	$.getJSON('/', function(data) {
		$.each(data, function(i, val) {
			links.push(val);
		})
	});

	var options = {
		keys: ['link_name'],
		id: 'borough',
		threshold: 0.8
	}

	var f = new Fuse(links, options);
	
	$('#search').bind('keydown keypress', function() {
		var result = f.search($(this).val());
		console.log(result);
	});			
})

		
</script>
